.catagory-container >a> .image {
 height: 270px;
 width: 100%;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 border-radius: 5px;
 border: 1px solid green;
 box-sizing: border-box;
}
.catagory-container >a> .image >img{
    width: 100%;
    min-height: 100%;
    transition: 0.5s;
    object-fit: cover;
}
.catagory-container > a>.image >img:hover{
    width: 120%;
    min-height: 120%;
}
.catagory-container >a> .image >.name{
    position: absolute;
    color: white;
    font-size: 28px;
    bottom: 10px;
    left: 10px;
    text-shadow: 2px 0px 2px black;

}

@media(max-width:500px){

 .catagory-container >a>.image>h2{
    font-size: 17px !important;
 }
   .catagory-container >a> .image{
        height: 230px;
    }
 
}

@media(max-width:420px){
    .catagory-container >a> .image{
        height: 150px;
    }
}